<div class="chart-container">

    <!-- <div>
        Hello
    </div> -->

    <h2>myChart1</h2>
    <div #myChart1 class="chart-item"></div>

    <h2>myChart2</h2>
    <div #myChart2 class="chart-item"></div>

    <h2>myChart3</h2>
    <div #myChart3 class="chart-item"></div>

    <h2>myChart4</h2>
    <div #myChart4 class="chart-item"></div>

    <h2>myChart5</h2>
    <div #myChart5 class="chart-item"></div>

    <h2>myChart6</h2>
    <div #myChart6 class="chart-item"></div>
    <!-- <canvas ></canvas> -->
</div>
  