<h1 mat-dialog-title>Hi {{data.name}}</h1>


<div mat-dialog-content>
  <div class="toggle-button">
    <button mat-stroked-button (click)="togglePopup()" color="primary"> toggle </button>
  </div>

  <div class="container">
    <div class="content" [@slide]="step1" [class.hidden]="visible">
      <p>What's your favorite animal?</p>

      <div class="inner-content">
        <div> Section 1 </div>
        <div> Section 2 </div>
        <div> Section 3 </div>
        <div> Section 4 </div>
      </div>
     
    </div>

    <div class="content content1" [@slide2]="step2" [class.hidden]="!visible">
      <p>What's your favorite plant?</p>

      <div class="inner-content">
        <div> Section 5 </div>
        <div> Section 6 </div>
        <div> Section 7 </div>
        <div> Section 8 </div>
      </div>
    </div>

  </div>
</div>

<div mat-dialog-actions>
  <button mat-button [mat-dialog-close]="data.animal" cdkFocusInitial>Ok</button>
</div>